language: java

jdk:
  - oraclejdk8

before_install:
  - git submodule update --init --recursive

install: mvn -T 1C install -DskipTests=true

after_success:
  - mvn -T 1C clean test jacoco:report coveralls:report